/* src/components/Home.css */
.home-section {
    padding: 80px 20px;
    text-align: center;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

  }
  
  .intro {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .intro-title {
    font-size: 6rem;
  }

  .intro-subtitle {
    font-size: 6rem;
    margin-bottom: 20px;
  }
  
  .intro-text {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #666;
  }
  
  .about-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .aobut-link:hover {
    background-color: #0056b3;
  }